@font-face {
    font-family: "TT Lakes Regular";
    src: url('../fonts/TTLakes-Regular.woff'), url("../fonts/TTLakes-Regular.eot"),
      url("../fonts/TTLakes-Regular.ttf") ;
  
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "TT Lakes Medium";
    src: url("../fonts/TTLakes-Medium.woff"), url("../fonts/TTLakes-Medium.eot"),
      url("../fonts/TTLakes-Medium.ttf") ;
  
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "TT Lakes Bold";
    src: url("../fonts/TTLakes-Bold.woff"), url("../fonts/TTLakes-Bold.eot"),
      url("../fonts/TTLakes-Bold.ttf") ;
  
    font-weight: 700;
    font-style: normal;
  }